{% extends "base.html" %} 
{% load static %}
{% load cloudinary %}
{% block content %}
<section class="content">
    <section class="main-header">
        <img src="{% static 'img/tourist.png' %}" width="70" height="70">
        <h1>Twitter Clone</h1>
    </section>
    <section class="tweet_form">
        <form action="/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Name" required>
            <textarea name="body" placeholder="Say something" required></textarea>
            <input class="form-control form-control-sm" name="image" type="file">
            <section class="mb-0">
            <button class="input input-primary" type="submit">Tweet</button>
            </section>
        </form> 
    </section>
    <section class="ditch"></section>
    <section class="tweets">
        <ul>
            {% for tweet in tweets %} 
            <li>
               <div class="logo">
                   <a href="#"></a>
                       <img src="{% static 'img/tourist.png' %}" width="70" height="70"/>
                   </a>
                </div>
               <div class="name_body">
                   <div class="name">{{ tweet.name }}</div>
                   <div class="datetime">{{tweet.created_at }}</div>
                   <p>{{ tweet.body }}</p>
                    <div class="bodyImage">
                        <img src="{{tweet.image.url}}" style="width: 100px;" height="100">
                    </div>
                   <a href="/delete/{{ tweet.id }}/">delete</a>
                   <a href="/update/{{ tweet.id }}/">update</a>
               </div>
            </li>
            {% endfor %} 
        </ul>
    </section>
</section>
{% endblock %}