/*
common
*****************/

html,
body{
    height: 100%;
    font-family: sans-serif;
}

.content {
    max-width: 600px;
    justify-content: center;
    padding: 1px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

/*
tweet
*****************/

.main-header h1 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    font-weight: bold;
    color: darkgreen;
    padding-left: 40px;
    text-align: center;
    justify-content: center;
    
}

.main-header {
    padding: 5px;
    border-bottom: 1px solid rgb(226, 226, 226);
    display: flex;
    justify-content: left;
    align-items: center;
}

.tweet_form {
    padding: 20px 40px;
    border: none;
    color: rgb(155, 86, 77);
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.tweet_form input text {
    display: flex;
    border: none;
    color: lightseagreen;
}

.button-area {
    border-radius: 3px;
    padding: 4px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    border-top: 1px solid #ebeef0;
    padding-top: 10px;
    color: aqua; 
    text-align: right; 
}

.bottom-area .mb-0 .form-control {
    background-color: #fff1f1;
    border: 1px solid #dde0e2;
    color: grey;
    margin-bottom: 10px;
}

.ditch {
    background-color: hsl(199, 30%, 57%);
    height: 20px;
    border-top: none;
    border-bottom: none;
}

.tweet_form input {
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    background-color: rgb(197, 206, 160);
}

.tweet_form textarea {
    background-color: rgb(148, 126, 163);
    width: 70%;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: none;
}

.tweets ul {
    padding: 0;
}

.tweets li {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 17px;
}

.tweets li .logo {
    flex-basis: 15%;
}

.tweets li .logo img {
    float: left;
    padding: 10px;
    display: flex;
}

.tweets li .name_body {
    flex-basis: 85%;
}

.tweets li .name_body .name {
    font-weight: bold;
}

.tweets li .name_body .datetime {
    color: gray;
}

@media screen and (max_width:400px) {
    .tweets li .name_body .name {
        font-size: 20px;
    }
}

.tweets li body_image {
    flex-basis: 40%;
}